<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-left"></div>
        <img id="refreshBtn" src="/icons/refresh.png" alt="새로고침" class="icon">
        <img id="searchBtn" src="/icons/search.png" alt="검색" class="icon">
    </div>

    <div class="content" id="content">
        <div id="postList"></div>
    </div>

    <div class="bottom-nav">
        <div class="nav-item"><img id="homeBtn" src="/icons/home.png" alt="홈" class="nav-icon active"></div>
        <div class="nav-item"><img id="messageBtn" src="/icons/message.png" alt="메시지" class="nav-icon"></div>
        <div class="nav-item"><img id="writeBtn" src="/icons/write.png" alt="글쓰기" class="nav-icon"></div>
        <div class="nav-item"><img id="alertBtn" src="/icons/alert.png" alt="알림" class="nav-icon"></div>
        <div class="nav-item"><img id="profileBtn" src="/icons/profile.png" alt="프로필" class="nav-icon"></div>
    </div>
</body>
</html>
